/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  /* Colores */
  --primary-color: #ffffff;
  --secondary-color: #f7f7f7;
  --text-color: #131313;
  --accent-color: #252624;
  --border-color: rgb(163, 163, 163);
  --background-color: rgb(250, 250, 250);
  --button-color: rgb(53, 53, 53);
  --button-hover-color: rgb(0, 0, 0);
  --shadow-color: rgba(0, 0, 0, 0.1);
  --light-shadow-color: rgba(0, 0, 0, 0.05);

  /* Fuentes */
  --font-family: "Poppins", sans-serif;
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;

  /* Espaciado */
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 3rem;
  --spacing-xl: 4rem;

  /* Bordes */
  --border-radius-sm: 0.5rem;
  --border-radius-md: 1rem;
  --border-radius-lg: 2rem;

  /* Transiciones */
  --transition-speed: 300ms;
  --transition-ease: ease;
}

[data-theme="dark"] {
  --primary-color: #121212;
  --secondary-color: #1e1e1e;
  --text-color: #e0e0e0;
  --accent-color: #a0a1a1;
  --border-color: #333333;
  --background-color: #1e1e1e;
  --button-color: #a0a1a1;
  --button-hover-color: #ffffff;
  --shadow-color: rgba(255, 255, 255, 0.1);
  --light-shadow-color: rgba(255, 255, 255, 0.05);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--primary-color);
  color: var(--text-color);
  width: 85%;
  margin: 0 auto;
  transition: background-color var(--transition-speed) var(--transition-ease),
              color var(--transition-speed) var(--transition-ease);
}

html {
  scroll-behavior: smooth;
}

p {
  color: var(--text-color);
  font-size: var(--font-size-base);
  font-weight: 100;
}

/* TRANSITION */
a,
.btn {
  transition: all var(--transition-speed) var(--transition-ease);
  
}

/* DESKTOP NAV */
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: var(--spacing-md);
  list-style: none;
  font-size: var(--font-size-xl);
}

a {
  color: var(--text-color);
  text-decoration-color: var(--primary-color);
}

a:hover {
  color: var(--accent-color);
  text-decoration-color: var(--accent-color);
  text-decoration: underline;
  text-underline-offset: var(--spacing-xs);
}

#theme-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.logo {
  font-size: var(--font-size-xxl);
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */
#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  transition: all var(--transition-speed) var(--transition-ease);
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--primary-color);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all var(--transition-speed) var(--transition-ease);
  z-index: 1000;
}

.menu-links a {
  display: block;
  padding: var(--spacing-sm);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--text-color);
  text-decoration: none;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

/* SECTIONS */
section {
  padding: var(--spacing-lg) var(--spacing-md); /* 3rem arriba y abajo, 2rem a los lados */
  margin: var(--spacing-md) auto;     
  box-sizing: border-box;
  min-height: fit-content;
  position: relative;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */
#profile {
  display: flex;
  justify-content: center;
  gap: var(--spacing-lg);
  height: 80vh;
  border-radius: var(--border-radius-lg);
  box-shadow: 
    inset 0px 4px 6px var(--light-shadow-color),  /* Sombra interior */
    0px 4px 6px var(--shadow-color),              /* Sombra exterior */
    2px 1px 5px var(--light-shadow-color);        /* Extra sombra exterior */
  position: relative;
  overflow: hidden;
}

#particles-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: var(--primary-color);
  pointer-events: none;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.img-profile {
  transform: scale(1);
  transition: transform var(--transition-speed) var(--transition-ease);
}

.img-profile:hover {
  transform: scale(1.03);
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 400;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: var(--font-size-xl);
  margin-bottom: var(--spacing-sm);
}

.title {
  font-size: var(--font-size-xxl);
  text-align: center;
  color: var(--text-color);
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-sm);
  gap: var(--spacing-sm);
}

/* ICONS */
.icon {
  cursor: pointer;
  height: 2rem;
  color: var(--text-color)
}

/* BUTTONS */
.btn-container {
  display: flex;
  justify-content: center;
  gap: var(--spacing-sm);
}

.btn {
  font-weight: 600;
  transition: all var(--transition-speed) var(--transition-ease);
  padding: var(--spacing-sm);
  width: 8rem;
  border-radius: var(--border-radius-lg);
}

.btn-color-1,
.btn-color-2 {
  border: var(--button-color) 0.1rem solid;
  color: var(--text-color);
}

.btn-color-1:hover,
.btn-color-2:hover {
  scale: 1.05;
  background: var(--button-hover-color);
  color: var(--primary-color);
}

.btn-color-1,
.btn-color-2:hover {
  background: var(--button-color);
  color: white;
}

.btn-color-1:hover {
  background: var(--button-hover-color);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: var(--button-hover-color) 0.1rem solid;
}

/* ABOUT SECTION */
#about {
  position: relative;
}

.about-containers {
  gap: var(--spacing-md);
  margin-bottom: var(--spacing-md);
  margin-top: var(--spacing-md);
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: var(--border-radius-lg);
  box-shadow: 
    inset 0px 4px 6px var(--light-shadow-color),  /* Sombra interior */
    0px 4px 6px var(--shadow-color),              /* Sombra exterior */
    2px 1px 5px var(--light-shadow-color);        /* Extra sombra exterior */
  border-radius: var(--border-radius-lg);
  transition: transform 0.3s ease, filter 0.3s ease;
}

  .about-pic:hover{
    transform: scale(1.05);
    filter: brightness(1.1);  
  }

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: var(--spacing-md);
  flex: 1;
  background: var(--secondary-color);
  border: var(--border-color) 0.1rem solid;
  border-radius: var(--border-radius-lg);
  text-align: center;
  box-shadow: 
    inset 0px 4px 6px var(--light-shadow-color),  /* Sombra interior */
    0px 4px 6px var(--shadow-color),              /* Sombra exterior */
    2px 1px 5px var(--light-shadow-color);        /* Extra sombra exterior */
}

.details-container-text {
  padding: var(--spacing-md);
  background: var(--secondary-color);
  border: var(--border-color) 0.1rem solid;
  border-radius: var(--border-radius-lg);
  text-align: center;
  line-height: 1.5; /* Espaciado entre líneas para mejor lectura */
  box-shadow: 
    inset 0px 4px 6px var(--light-shadow-color),  /* Sombra interior */
    0px 4px 6px var(--shadow-color),              /* Sombra exterior */
    2px 1px 5px var(--light-shadow-color);        /* Extra sombra exterior */
}

.section-container {
  gap: var(--spacing-lg);
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */
#experience {
  position: relative;
}

.experience-sub-title {
  color: var(--text-color);
  font-weight: 600;
  font-size: var(--font-size-xl);
  margin-bottom: var(--spacing-md);
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Ajusta el tamaño */
  gap: 20px; /* Espaciado entre los artículos */
  align-items: center;
}


article {
  display: flex;
  gap: var(--spacing-xs);
  align-items: flex-start; /* Asegura que todo esté alineado arriba */
}

article p, .experience-h3{
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}
article .icon-check {
  cursor: default;
}


/* PROJECTS SECTION */
#projects {
  position: relative;
  width: 100%;
  max-width: 100vw; /* Limita el ancho al viewport */
  overflow-x: hidden; /* Evita scroll horizontal */
  padding: 2rem; /* Opcional: espacio interno */
  margin: 0 auto;
}
.about-containers {
  display: flex;
  flex-wrap: wrap;          /* Permite que los elementos se ubiquen en varias filas */
  justify-content: center;  /* Centra los elementos horizontalmente */
  gap: 1rem;                /* Espacio entre tarjetas */
}

.details-container {
  flex: 1 1 280px;  /* Crece y se reduce, con un ancho base de 280px */
  box-sizing: border-box;
  margin: 1rem;
  cursor: pointer;
}

.color-container {
  border-color: var(--border-color);
  background: var(--background-color);
}

.project-img {
  border-radius: var(--border-radius-lg);
  width: 90%;
  height: 90%;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.project-img:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.project-title {
  margin: var(--spacing-sm);
  color: var(--text-color);
}

.project-btn {
  color: var(--text-color);
  border-color: var(--border-color);
}

/* CONTACT */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: var(--border-radius-lg);
  border: var(--border-color) 0.1rem solid;
  background: var(--background-color);
  margin: var(--spacing-md) auto;
  padding: var(--spacing-xs);
  box-shadow: 
    inset 0px 4px 6px var(--light-shadow-color),  /* Sombra interior */
    0px 4px 6px var(--shadow-color),              /* Sombra exterior */
    2px 1px 5px var(--light-shadow-color);        /* Extra sombra exterior */
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
  margin: var(--spacing-sm);
}

.contact-info-container p {
  font-size: var(--font-size-lg);
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */
footer {
  height: 26vh;
  margin: 0 var(--spacing-sm);
}

footer p {
  text-align: center;
}
